

.h1_ddos{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.h1_ddos_time{
   color: red ;
}

.h1_ddos_ip{

    text-align: center;
    font-size: large;
    margin-top: 100px;
  

}



.ddos_ip_table{
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: white;
  
}

.ddos_ip_table th, .ddos_ip_table td {
    border: 1px solid #dddddd;
    text-align: left;
    font-size: 24px; /* Larger font size */
    padding: 8px;
}

.ddos_ip_table th {
    background-color: #f2f2f2;
    background-color: transparent;
}


body {
    background-color: rgb(20,20,75);
    /* gradient */
    background-image: linear-gradient(90deg, rgba(20,20,75,1) 0%, rgba(0,0,34,1) 46%, rgba(89,0,23,1) 99%);
    /* specify the background size */
    /* specify the background size */
    background-size: cover;
    /* ensure the gradient covers the entire background */
    height: 100vh;
    margin: 0;
    /* optional: add text color to ensure readability */
    color: white;
    /* optional: add font-family for better readability */
    font-family: Arial, sans-serif;
}


#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: transparent;
    color: white;
    padding-top: 60px; /* Adjust for header height */
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
}
#sidebar ul li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #333;
}
#sidebar ul li:hover {
    background-color:#333;
    cursor: pointer;
}
#content {
    margin-left: 250px;
    padding: 20px;
}
#header, #footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
}
#footer {
    bottom: 0;
}

.sidebar1{
    margin-bottom: 450px ;
}
